@model GTE.Mastery.ShoeStore.Business.Dtos.ShoeDto

<a class="btn btn-primary" asp-controller="Shoe" asp-action="Index" asp-route-page="1">Exit</a>
<div class="shoe-wrapper">
    <div class="shoe-item">
        <div class="shoe-name">
            <b class="brand">@Model.Brand.Name - @Model.Name</b>
        </div>
        <div class="shoe-image">
            <img src="~/img/@Model.ImagePath" width="width=" 400px" height="400px" class="border" />
        </div>
        <div class="shoe-price">
            <span class="price">@Model.Price</span>
        </div>
        <div class="shoe-description">
            <div>
                <span>Vendor: @Model.Vendor</span>
            </div>
            <div>
                <span>Brand: @Model.Brand.Name</span>
            </div>
            <div>
                <span>Gender: @Model.Gender</span>
            </div>
        </div>
        <div class="shoe-description">
            <div>
                <span>Category: @Model.Category.Name</span>
            </div>
            <div>
                <span>Color: @Model.Color.Name</span>
            </div>
        </div>       
    </div>
</div>

