@model GTE.Mastery.ShoeStore.Business.Dtos.CreateEditShoeDto

<div class="shoe-create-edit-container">
    <h3>Create shoe</h3>
    <form method="post" asp-controller="Admin" asp-action="CreateShoe">
        <div class="shoe-field-container">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendor">Vendor</label>
                <input type="text" asp-for="Vendor" class="form-control" />
                <span asp-validation-for="Vendor"></span>
            </div>
        </div>
        <div class="shoe-field-container">
            <div class="form-group">
                <label asp-for="Price">Price</label>
                <input type="text" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender">Gender</label>
                <select class="form-control" asp-for="Gender" asp-items="@Model.Genders"></select>
                <span asp-validation-for="Gender"></span>                
            </div>
        </div>
        <div class="shoe-field-container">
            <div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select class="form-control" asp-for="CategoryId" asp-items="@Model.Categories"></select>
                <span asp-validation-for="CategoryId"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId">Brand</label>
                <select class="form-control" asp-for="BrandId" asp-items="@Model.Brands"></select>
                <span asp-validation-for="BrandId"></span>
            </div>
        </div>
        <div class="shoe-field-container">
            <div class="form-group">
                <label asp-for="SizeId">Size</label>
                <select class="form-control" asp-for="SizeId" asp-items="@Model.Sizes"></select>
                <span asp-validation-for="SizeId"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorId">Color</label>
                <select class="form-control" asp-for="ColorId" asp-items="@Model.Colors"></select>
                <span asp-validation-for="ColorId"></span>
            </div>
        </div>
        <div class="shoe-submit-container">
            <div class="form-group">
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </div>        
    </form>
</div>



